<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <div id="page-wrap">

		<header id="h1" >
			··· <%=title%> ···
		</header>

		<br>
		<br>
		<br>
		<section class="main" id="s1"> 
			<table align="center">
				<tr>
					<td>
						<iframe width="400" height="500" src="/municipis/metadades" frameborder="1" allowfullscreen ></iframe>
					</td>
					<td width="50">
					</td>
					<td>
						<iframe width="400" height="500" src="/municipis/metadades" frameborder="1" allowfullscreen></iframe>
					</td>
				</tr>
			</table>
		</section>

		<br>
		<br>
		<br>
		<footer id="f1" align="center">
			Created by Aaron Planell / aaronplanell@gmail.com
		</footer>
    </div>
  </body>
</html>