<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <div id="page-wrap">

		<header id="h1" >
			··· <%=title%> ···
		</header>

		<br>
		<div class="main" id="s1"> 
			<object data="municipis/metadades" class="municipi" type="text/html"></object> 
			<object data="" class="municipi_space" type="text/html"></object> 
			<object data="municipis/metadades" class="municipi" type="text/html"></object> 
		</div>
	
		<br>
		<footer id="f1" align="center">
			Created by Aaron Planell / aaronplanell@gmail.com
		</footer>
    </div>
  </body>
</html>