@charset "utf-8";
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
			
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header { 
	font-size: 30px;
	text-align: center;	
}

header:hover {
	font-weight: bold;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC0;
}

li {
	width: 80px;
	display: inline;
	text-align: center;	
	font-weight: bold;
	border-radius: 25% 25% 0 0;
	text-decoration: none;
	font-size: 0.8em;
	display: block;
	padding: 6px;
	float: left;
	background-color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
}

li:hover {
	background-color: #ddd;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main {
	text-align: center;
}

.municipi {
	display: inline;
	border: 1px solid grey;
	background-color: white;
	width: 340px;
	height: 290px;
}

.municipi_space {
	display: inline;
	background-color: white;
	width: 5px;
	height: 5px;
}

.forecast {
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	text-align: center;	
}

.forecast_image {
    min-width: 200px;
}

.forecast_rainfall {
	min-width: 75px;
}

.forecast_min_max {
	font-size: 24px;
	font-weight: bold;
	min-width: 200px;
}

.forecast_rainfall_text {
	min-width: 75px;
	font-weight: bold;
}


footer {
	text-align: center;	
}

footer:hover {
	font-weight: bold;
}

