@charset "utf-8";
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
			
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header { 
	font-size: 30px;
	text-align: center;	
}

header:hover {
	font-weight: bold;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC0;
}

li {
	width: 100px;
	display: inline;
	border-radius: 25% 25% 0 0;
}

a {
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	padding: 6px;
	float: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}

a:hover {
	color: #FFF;
	border-top-width: 3px;
	background-color: #aaa;
}

section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main {
	text-align: center;
}

.municipi {
	display: inline;
	border: 1px solid grey;
	background-color: white;
	width: 350px;
	height: 400px;
}

.municipi_space {
	display: inline;
	background-color: white;
	width: 50px;
	height: 50px;
}

footer {
	text-align: center;	
}

footer:hover {
	font-weight: bold;
}
